<div class="background">
  <tag-canvas *ngIf="tagState" [ngClass]="routeAnimationsPage" [tags]="myTags" [options]="tagOption"></tag-canvas>
  <div class="gradient">
    <div class="container">
      <h1 [ngClass]="routeAnimationsElements">
        {{ 'anms.register.title'| translate }}
      </h1>
      <div class="register-form" [ngClass]="routeAnimationsElements">
        <!-- < !-- 注册表单开始 -->
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <mat-card>
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput placeholder="{{ 'anms.register.placeholder1' | translate }}"
                      formControlName="username">
                    <mat-error *ngIf="form.get('username').invalid">
                      {{ 'anms.register.placeholder1' | translate }}
                      {{ 'anms.register.error1' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- 用户昵称 -->
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput placeholder="{{ 'anms.register.placeholder5' | translate }}"
                      formControlName="nickname">
                    <mat-error *ngIf="form.get('nickname').invalid">
                      {{ 'anms.register.placeholder5' | translate }}
                      {{ 'anms.register.error1' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- 密码 -->
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput type="password" placeholder="{{ 'anms.register.placeholder2' | translate }}"
                      formControlName="password">
                    <mat-error *ngIf="form.get('password').invalid">
                      {{ 'anms.register.placeholder2' | translate }}
                      {{ 'anms.register.error1' | translate }}
                    </mat-error>
                  </mat-form-field>
                  <!-- 确认密码 -->
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput type="password" placeholder="{{ 'anms.register.placeholder6' | translate }}"
                      formControlName="repassword">
                    <mat-error *ngIf="form.get('repassword').invalid">
                      {{ 'anms.register.placeholder6' | translate }}
                      {{ 'anms.register.error1' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- 邮箱 -->
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput placeholder="{{ 'anms.register.placeholder7' | translate }}" formControlName="email"
                      type="text">
                    <mat-error *ngIf="form.get('email').hasError('required')">
                      {{ 'anms.register.placeholder7' | translate }}
                      {{ 'anms.register.error1' | translate }}
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">
                      {{ 'anms.register.placeholder7' | translate }}
                      {{ 'anms.register.error2' | translate }}</mat-error>
                  </mat-form-field>
                </div>
                <!-- 验证码 -->
                <div class="row">
                  <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                    <input matInput placeholder="{{ 'anms.login.placeholder3' | translate }}"
                      formControlName="checkCode" type="text">

                  </mat-form-field>
                  <div class="col" [ngClass]="routeAnimationsElements">
                    <img class="checkCode" [src]="code" alt="点击刷新验证码" (click)="refCode()">
                  </div>
                </div>

                <div class="row buttons d-flex justify-content-between pad">
                  <button mat-raised-button color="primary" [ngClass]="routeAnimationsElements">
                    {{ 'anms.register.register' | translate }}
                  </button>
                  <button mat-button color="accent" [ngClass]="routeAnimationsElements" routerLink="/login"
                    routerLinkActive="active">
                    {{ 'anms.register.login' | translate }}
                  </button>

                </div>
              </mat-card>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>