<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'anms.features.title' | translate }}</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <!-- 帖子按钮,按钮的动画是 fixed 单独使用自定义的动画 -->
    <div class="post-tool" [ngClass]="routeAnimationsPage">
      <button mat-fab class="plus" routerLink="/sendpost" routerLinkActive="active">
        <fa-icon (click)="sendBtn()" icon="plus"></fa-icon>
      </button>
      <button mat-fab class="arrow-up">
        <fa-icon (click)="backTop()" icon="arrow-up"></fa-icon>
      </button>
    </div>
    <!-- 帖子列表 -->
    <div [routerLink]="['/detailpost']" [queryParams]="{id:'我是一条狗,你看的出来吗'}" routerLinkActive="active"
      *ngFor="let feature of features" class="col-md-6 col-lg-4 " [ngClass]="routeAnimationsElements">
      <mat-card class="posts-card">
        <mat-card-header>
          <div mat-card-avatar class="posts-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-footer>
          <span class="publish-time">{{ 'anms.features.publish' | translate }}：2018.02.13.12:32</span>
          <fa-icon icon="book"></fa-icon>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>