<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-heading form-padding">{{ postId }}</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-12 col-lg-8 one-card">
      <!-- 帖子主题 -->
      <mat-card class="one-card">
        <p>作者：招显
          链接：https://www.zhihu.com/question/320654564/answer/666676795
          来源：知乎
          著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。

          这其中的根本原因很深，只有你想通了下面几个问题，你才能理解为什么当初急着找美国大导拍流浪地球人还看不上法眼的大刘不再想让美国人拍三体：三体一因何获得雨果奖？三体二三体三因何得不到雨果奖？北京折叠为何又得了雨果奖？得国际大奖的当代作家、作品还有谁？莫言的丰乳肥臀？余华的活着？麦家的解密？如果上面这些作品你都看过你就会发现其中有个共同点，但是三体又在共同点之外有个完全相反的不同点。什么点？一点浩然英雄气！只有在刘慈欣的国际大奖作品中我看到了现代中国文学中久违多年的英雄气，看到了有慨然赴死的逻辑，忍辱负重的章北海，当然还有永远前进的韦德。小人物、丑主角、悲惨遭遇荒诞结局的拿国际大奖中国作品我见得多了。也看得腻了。莫言的红高粱拍电影拿了国际大奖。余华活着拍成电影也拿了大奖，哎ái——麦家的风声改的电影没拿国际大奖，最高拿了个亚洲开头的大奖。但是，没有欧美人点头的亚洲奖实在算不得国际奖。与麦家文学作品拿国际奖电影改编只拿亚洲奖的遭遇相对应的是。陈忠实的《白鹿原》文学作品撑死得个茅盾奖，没有任何国际上的奖项。改编的同名电影反到得了国际奖。为什么电影作品本身改自文学作品，电影能得国际肯定，文学却没能得奖呢？为什么继鲁迅、钱钟书、张爱玲后唯一入选英国企鹅文库的中国当代作家麦家文学作品解密这么受追捧，电影改编都能得亚洲大奖了，却连国际奖提名都没能捞着吗？原因其实还是那个——小说的白鹿原里存有一丝英雄气，电影版白鹿原把这一丝英雄气去掉了，所以就得奖了。小说里面对共产党人在白鹿原上掀起一场场农会风搅雪的描写，中国农民思想觉醒的描写是浓墨重彩的，小说中的白嘉轩是有传统士大夫那种大仁大义，方正守节的气场的，这些都在电影版中一笔带过，或者直接省略掉了，没了这些英雄气的白鹿原，剩下的，就只有旧社会的思想禁锢、性压抑下的偷情乱伦。哎呀，好熟悉好熟悉，我看红高粱、看大红灯笼高高挂、看菊豆、看那些国际大奖中国电影早就看腻了！再看麦家，果然，电影风声里唱戏受刑的张涵予在电影中太爷们太英雄主义了。虽然有人性黑暗的反思，但那个黑暗是日本太君的黑暗呀。你不敢反思自己的人性，凭啥给你金棕榈金熊国际奖？拿个釜山国际电影节亚洲大奖一边乐去吧！
        </p>
      </mat-card>
      <!-- 评论信息 -->
      <mat-card class=" commit-card">
        <mat-card-header>
          <div mat-card-avatar class="posts-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>sadasdsd</p>
        </mat-card-content>
        <span class="publish-time">{{ 'anms.features.publish' | translate }}：2018.02.13.12:32</span>
        <mat-card-actions align="end">
          <button class="fr" mat-icon-button color="warn">
            <fa-icon icon="thumbs-up"></fa-icon>
            <span class="count">123</span>
          </button>
        </mat-card-actions>

      </mat-card>

      <mat-card class=" commit-card">
        <mat-card-header>
          <div mat-card-avatar class="posts-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>sadasdsd</p>
        </mat-card-content>
        <span class="publish-time">{{ 'anms.features.publish' | translate }}：2018.02.13.12:32</span>
        <mat-card-actions align="end">
          <button class="fr" mat-icon-button color="warn">
            <fa-icon icon="thumbs-up"></fa-icon>
            <span class="count">123</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-12 col-lg-4 ">
      <!-- 作者信息 -->
      <mat-card class="one-card">
        <p class="card-title">作者信息：</p>
        <mat-card-header>
          <div mat-card-avatar class="posts-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button color="primary">私聊</button>
        </mat-card-actions>
      </mat-card>
      <!-- 发表评论 -->
      <mat-card class="one-card ">
        <p class="card-title">发表评论：</p>
        <mat-card-content>
          <mat-form-field class="col commit-text">
            <textarea matInput placeholder="{{ 'anms.postdetailpost.commit' | translate }}"
              formControlName="description" rows="5"></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button color="primary">评论</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>