.container {
  margin-top: 20px;
}

.form-padding {
  padding-left: 15px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.item {
  margin: 10px 0 10px 0;

  p {
    padding: 12px 0 0 20px;
  }
}

.buttons {
  margin: 20px 0px;
}

.isanony {
  // float: right;
  text-align: right;
}

/*  */
.post-main {
  margin-bottom: 15px;
  font-size: 18px;
}

.one-card {
  margin-bottom: 20px;
}

.posts-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-header {
  line-height: 1;
}

mat-card-actions {
  padding: 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.commit-text {
  padding: 0 0px;
}

.commit-card {
  margin-bottom: 10px;

  mat-card-header {
    line-height: 2;
  }

  .publish-time {
    font-size: 12px;
    padding-right: 15px;
    position: absolute;
    bottom: 20px;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
    margin-right: 18px;
    text-align: right;
    // padding-bottom: 5px;
  }

  fa-icon {
    font-size: 12px;
  }

  .count {
    padding-left: 5px;
  }
}