<div class="container">
  <div class="row align-items-end masonry">
    <!-- 帖子列表 -->
    <div *ngFor="let item of posts" class="col-md-6 col-lg-4 mas-item">
      <mat-card class="posts-card">
        <mat-card-header>
          <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-footer class="row buttons d-flex justify-content-between pad">
          <button type="button" (click)="delPost()" mat-raised-button color="warn">
            删除
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>